@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


.about {

    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
    margin-right: 20%;
    margin-left: 20%;

}

.inter {

font-family: 'Quicksand', sans-serif;
font-size: 45px;
margin-bottom: 5px;

}


.text {

    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    animation: appear 1s ease-in-out forwards;

}



a {

    color: white;
    transition: 1s;

}


a:hover {

    color: black;

}





