@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



.mail {

    text-align: center;

}


h2 {

    font-size: 60px;
    margin-top: -10px;
    animation-name: fade;
    animation-duration: 2s;
    font-family: 'Quicksand', cursive;

}

.intext {
    
    border: none;
    resize: none;
    width: 600px;
    height: 500px;
    padding: 20px;
    font-size: 25px;
    border-radius: 50px;
    animation-name: fade;
    animation-duration: 1.5s;

}

.send {

    border: none;
    color: white;
    width: 200px;
    height: 60px;
    margin-top: 5px;
    font-size: 30px;
    transition: 0.3s;
    margin-top: 10px;
    line-height: 65px;
    padding-left: 10px;
    margin-bottom: 5px;
    padding-right: 10px;
    border-radius: 100px;
    animation-name: fade;
    animation-duration: 1.5s;
    background-color: #3f4062;
    font-family: 'Montserrat', sans-serif;

;}

.send:hover {

    background-color: #6e7093;
    
}

.send_button{

    animation-name: slide;
    animation-duration: 0.5s; 

}

@keyframes fade {

    from {

        opacity: 0%;

    }

    to {

        opacity: 100%;

    }

}



@keyframes slide{

    from {

        margin-left: -10%;

    }

    to {

        margin-left: 0%;

    }
}



@keyframes slowslide{


    from {

        margin-left: -3%;

    }


    to {

        margin-left: 0%;

    }
}

