@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



.mail {

    text-align: center;
    font-family: 'Quicksand', sans-serif;

}


h2 {

    font-size: 60px;
    animation-name: fade;
    animation-duration: 2s;

}


.send {

    border: none;
    background-color: #3f4062;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100px;
    width: 200px;
    height: 60px;
    margin-top: 15px;
    margin-bottom: 5px;
    animation-name: fade;
    animation-duration: 1.5s;
    font-family: 'Bebas Neue', cursive;
    line-height: 60px;
    transition: 0.4s;
    font-size: 40px;

}


.intext {


    width: 600px;
    height: 500px;
    resize: none;
    border-radius: 45px;
    padding: 15px;
    border: none;
    font-size: 20px;

}




.send_button{

    animation-name: slide;
    animation-duration: 0.5s;


}


.send:hover {

    background-color: #6e7093;
    
}



@keyframes fade {

    from {


        opacity: 0%;

    }


    to {


        opacity: 100%;

    }

}



@keyframes slide{


    from {

        margin-left: -10%;

    }


    to {

        margin-left: 0%;

    }
}



@keyframes slowslide{


    from {

        margin-left: -3%;

    }


    to {

        margin-left: 0%;

    }
}

