@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {

	background-color: lightgrey;

}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
    filter: blur(5px);
}

.inscription_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background-color: white;
    padding: 20px;
    filter: none; /* désactiver le flou sur le contenu du popup */
	border-radius: 50px;
	
}

.inscription {

	width: 400px;
	height: 600px;
	border-radius: 30px;
	border-color: black;
	border-style: solid;
	border-radius: 30px;
	background-color: white;

}

.inscription_h1 {

	font-size: 50px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.inputs {

	text-align: center;

}

.username_text, .password_text, .email_text {

	font-size: 20px;
	text-align: left;
	margin-left: 20px;
	margin-bottom: 3px;
	font-family: 'Montserrat', sans-serif;

}

.username_input, .password_input, .email_input {

	width: 360px;
	height: 45px;
	margin-top: 10px;
	border-style: solid;
	border-radius: 15px;
	border-color: lightgrey;

}

.line {

	height: 10px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 10px;
	background-color: #888888;

}

.inscription_button {

	color: white;
	width: 360px;
	height: 60px;
	border: none;
	font-size: 35px;
	margin-top: 20px;
	transition: 0.3s;
	margin-left: 20px;
	border-radius: 15px;
	background-color: #3f4062;


}

.already_account {

	color: inherit;
	text-align: center;
	font-family: 'Montserrat', sans-serif;

}

.inscription_button:hover {

	background-color: #6e7093;


}