

.Titre-apropos
{
text-align: center;
font-size: 110px;
font-family: 'Bebas Neue', cursive;


}


    

.Sous-titre{    
font-family: 'Ubuntu', sans-serif;
font-size: 45px;
text-align: center;
border: ridge white 4px;}


.text{
font-family: 'ubuntu', sans-serif;
font-size: 30px }



  

a{
    color: rgb(255, 255, 255);
}