    

      


  .chatAff{
    position        : fixed;
    top             : 10%;
    left: 80%;

    background-color: aliceblue;
  }
    

    
    
    article
    {
        width: auto;
        border: 20px solid black;
        padding: auto;
        margin: 20px;
        text-align: center;
    color: black;
    background-color: white;

    max-width: 100%;
    
    }

    .wait
    {
        text-align: center;
    }
    
    .beta{
        overflow:auto;
        font-family: 'Bebas Neue', cursive;

    }
    
    
    .articles
    {
        border: 10px solid rgb(0, 0, 0);
        width: 100%;
    
    
        
    
    
    
    
    
    }
    
    


    .avi{
        display: flex;
        align-items:flex-end;
        justify-content: center;
     

    }
    
  .like, .neutrelike, .dislike{
    background-color: transparent;
    border-style: solid;
    border-width: 1cm;
    border: purple;

  }


    


    .comText{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  .coment, .signal{
    background-color: transparent;
    border: transparent;
  }
    
    
    .art{
    
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    }

    
    .foota{
    
    color: black;
    text-align: center;
    margin-bottom: 1%;
    
    }
    
    .con{
    width: 200px;
    text-align: center;
    margin: top 4%;
    }
    
    .chat{
    
    width: 100px;
    
    }
    
    img{
    
        max-width: 60%;
    }



.boutton{

	width: 5cm;
}


