body{


	object-position: center;
	color: aliceblue;
	overflow-wrap: anywhere;
	}
	
	
	.mess{
		text-align: center;

	}
	


	

		
	.titre1{
	
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	font-size: 150px;
	color: white;
	}
	
	
	.zonetxt{
	text-align: center;
	
	
	
	}
	
	.boutton{
		
	width: 200;
	
		}
	
	.zonne{
	
	border: ridge black 5px;
	resize: none;
	width: 350px;
	height: 200px;
	}


		
.border {width: 450px;
    border: 20px double black;

    padding: 20px;
    margin: 20px;

    text-align: center;
    margin-left: auto;
    margin-right: auto;
}