

textarea{
    width: 75%;
    height: 50%;
}



 

.mail{

text-align: center;
font-size: 80px;
color: white;
font-family: 'Bebas Neue', cursive;
}
 .send{

font-size:40px ;

 }
.revers{
width: 40px;
height: 40px;}
