
header{


text-align: center;
color: white;
font-family: 'Bebas Neue', cursive;
font-size: 450%;

}

p{


text-align: center;
color: white;
font-family: 'Bebas Neue', cursive;
font-size: 150%;
}


.text{

animation-name: slidein;
text-align: center;
width: 40½;
height: 40%;
}

.revers{
width: 40px;
height: 40px;}

