body{

text-align: center;
}

.titre1{

text-align: center;
color: white;
font-size: 80px;
font-family: 'Bebas Neue', cursive;

}


.bouton{

width: 250px;

}


.inte{

margin-bottom: 5px;
height: 45px;
width: 400px;
border: ridge black 5px;
}

