@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

header {

    color: black;
    text-align: center;
    font-size: x-large;
    margin-top: -2.2%;
    background-color: white;
    animation-name: fade;
    animation-duration: 1s;

}
 


body {
    
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 1000000% 1000000%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    overflow-wrap: anywhere;

}



.title {
    
    font-family: 'Bebas Neue', cursive;
    font-size: 150px;
    margin-top: 2%;    
    position: none;
     animation-name: fade;
    animation-duration: 1.5s;
    margin-bottom: none;
    animation-name: slowslide;
    animation-duration: 0.5s;

}



      
.butontop {
            
    text-align: center;
    background-color: white;
    left: 0;
    right: 0;
    animation-name: fade;
    animation-duration: 1s;
        
}



.op {

    text-align: center;
    color: black;
    
}    



.navigator {

    
    border: none;
    background: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100px;
    width: 200px;
    height: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
    animation-name: fade;
    animation-duration: 1.5s;
    font-family: 'Bebas Neue', cursive;
    line-height: 60px;
    transition: 0.4s;
    font-size: 40px;

}



.special {

    border: none;
    background: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100px;
    width: 200px;
    height: 60px;
    margin-right: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    animation-name: fade;
    animation-duration: 1.5s;
    font-family: 'Bebas Neue', cursive;
    line-height: 60px;
    transition: 0.4s;
    font-size: 40px;


}



.special:hover, .navigator:hover {

    background-color: #5e6362;
    
}



.subtitle {

    animation-name: slide;
    animation-duration: 0.5s;

}



@keyframes fade {

    from {


        opacity: 0%;

    }


    to {


        opacity: 100%;

    }

}



@keyframes slide{


    from {

        margin-left: -10%;

    }


    to {

        margin-left: 0%;

    }
}



@keyframes slowslide{


    from {

        margin-left: -3%;

    }


    to {

        margin-left: 0%;

    }
}



@media only screen and (max-width: 768px) {

    .title {

        font-size: 120px;    

    }


     

}


