@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



body {

  background-color: lightgrey;
  margin: 0;
  padding: 0;

}



header {

  background-color: white;
 
  top: -30px;
  padding: 130px;

}



/* Title with underline animation */


.uptitle {

  margin-top: 0px;
  text-align: center;
  font-size: 140px;
  font-family: 'Oswald', sans-serif;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 120px;
  left: 50%;
}



.uptitle::after {

    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background: #000;
    transition: transform 0.4s ease-in-out;
    transform: scale(0);
}



.uptitle:hover::after {

    transform: scale(1);

}



/* Button model for all site */



.navigator {

  padding: 0;
  border: none;
  background: #3f4062;
  width: 200px;
  height: 60px;
  border-radius: 25px;
  transition: 0.3s;
  clear: both;
  margin-left: 5px;
  

}



.navigator:hover {

  background-color: #6e7093;

}


/* In button text model for all site */


.text_in_button {

  color: white;
  font-size: 20px;


}



/* Button for create a new post */

.new_post {

  position: absolute;
  top: 20px;
  right: 85px;
  padding: 0;

}



/* Placement for "profile_photo_body" */

.profile {

  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;


}

/* Button to see own profile photo on top of the page*/

.profile_photo_body {

  height: 60px;
  width: 60px;
  padding: 0;
  border: none;
  background-color: #3f4062;
  border-radius: 20px;
  transition: 0.3s;

}



.profile_photo_body:hover {

  background-color: #6e7093;

}

/* Button to see poeple profile photo on top of the post */


.profile_photo_post {

  height: 70px;
  width: 70px;
  padding: 0;
  border: none;
  background-color: #3f4062;
  border-radius: 20px;
  transition: 0.3s;
  margin-top: 20px;
  margin-left: 20px;

}



.profile_photo_post:hover {

  background-color: #6e7093;

}


.hight_left_post {

	display: flex; 


}
 


@media only screen and (max-width: 1200px) {

    .uptitle {

    	font-size: 120px;

    }


    .navigator {


    	height: 50px;
    	width: 160px;

    }
     

    .text_in_button {

    	font-size: 15px;

    }


    .profile_photo_body {


    	height: 50px;
    	width: 50px;

    }
}




@media only screen and (max-width: 1050px) {

    .uptitle {

    	font-size: 100px;

    }


    .navigator {


    	height: 40px;
    	width: 135px;

    }
     

    .text_in_button {

    	font-size: 12px;

    }


    .profile_photo {


    	height: 40px;
    	width: 40px;
    }
}



@media only screen and (max-width: 820px) {

    .uptitle {

    	font-size: 70px;
    	padding: 0px;

    }


    .navigator {


    	height: 30px;
    	width: 120px;


    }
     

    .text_in_button {

    	font-size: 9px;

    }


    .profile_photo {


    	height: 30px;
    	width: 30px;
    }
}