@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {


	background-color: lightgrey;


}

.settings {

	width: 300px;
	height: 500px;
	border-color: black;
	border-style: solid;
	border-radius: 30px;
	background-color: white;

}

.text_gear {

	display: flex;

}

.settings_h1{

	font-size: 25px;
	margin-left: 20px;
	font-family: 'Montserrat', sans-serif;

}

.gear {

	height: 50px;
	margin-top: 16px;
 	margin-left: 70px;
 	
}

.line {

	height: 5px;
	margin-top: -10px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 10px;
	background-color: #888888;

}

