@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {

	background-color: lightgrey;

}

.settings {

	width: 300px;
	height: 500px;
	border-color: black;
	border-style: solid;
	border-radius: 30px;
	background-color: white;

}

.text_gear {

	display: flex;

}

.settings_h1{

	font-size: 25px;
	margin-left: 20px;
	font-family: 'Montserrat', sans-serif;

}

.gear {

	height: 50px;
	margin-top: 16px;
 	margin-left: 70px;

}

.line {

	height: 5px;
	margin-top: -10px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 10px;
	background-color: #888888;

}

.change_photo {

	display: flex;

}

.photo_preview {

	height: 90px;
	width: 90px;
	margin-top: 20px;
	margin-left: 20px;	
	border-style: solid;
	border-color: black;
	border-radius: 20px;
	background-color: light-gray;

}

.change_photo_button {

	border: 0;
	color: white;
	height: 40px;
	width: 165px;
	font-size: 11px;
	margin-top: 40px;
	margin-left: 5px;
	margin-right: 20px;	
	border-radius: 10px;
	background-color: #3f4062;
	font-family: 'Montserrat', sans-serif;

}


.color_choice {


}

.choice {

	padding: 5px;
	margin-top: 10px;
	margin-left: 20px;
	border-radius: 20px;
	margin-right: 115px;
	background-color: lightgrey;
	
}

.predefined_colors {

	margin-left: 2px;

}

.color_1, .color_2, .color_3, .color_4, .color_5, .color_6, .color_7, .color_8, .color_9, .color_10 {

	border: 0;
	width: 25px;
	height: 25px;
	margin-left: 1px;
	border-radius: 5px;
	margin-bottom: 1px;

}

.other_colors {

	height: 20px;
	border: none;
	width: 150px;
	margin-top: 3px;
	margin-left: 3px;
	border-radius: 4px;
	background-color: #3f4062;

}